{
  "ConnectionStrings": {
    "MariaDB": "Server=localhost;Port=3306;Database=systeme_alertes;User=SwitchC;Password=XJNfhR*)lNImY(kE;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
  },
  "AllowedHosts": "*"
}